<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clm.counselor.mapper.ScholarshipApproveMapper">
    <select id="queryScholarshipApproveByCounselor" parameterType="String" resultType="com.clm.vo.ScholarshipVo">
        SELECT
        scholarship_approve.scholarship_id,
        scholarship_approve.counselor_name,
        scholarship_approve.before_status,
        scholarship_approve.after_status,
        scholarship_approve.current_status,
        scholarship_approve.remake,
        scholarship.id,
        scholarship.user_id,
        scholarship.depart_id,
        scholarship.`level`,
        scholarship.ranking,
        scholarship.prove,
        scholarship.counselor_opinion,
        scholarship.audit_opinion,
        scholarship.approve_status,
        scholarship.del_flag,
        scholarship.create_by,
        scholarship.create_time,
        scholarship.update_by,
        scholarship.update_time,
        sys_user.username,
        sys_user.real_name
        FROM
        scholarship_approve,
        scholarship,
        sys_user
        WHERE sys_user.id=scholarship.user_id and scholarship.id=scholarship_approve.scholarship_id and
        scholarship.depart_id in
        <foreach collection="departIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        and scholarship.del_flag=0
    </select>
    <select id="queryScholarshipApproveByCounselorRequirement" parameterType="String" resultType="com.clm.vo.ScholarshipVo">
        SELECT
        scholarship_approve.scholarship_id,
        scholarship_approve.counselor_name,
        scholarship_approve.before_status,
        scholarship_approve.after_status,
        scholarship_approve.current_status,
        scholarship_approve.remake,
        scholarship.id,
        scholarship.user_id,
        scholarship.depart_id,
        scholarship.`level`,
        scholarship.ranking,
        scholarship.prove,
        scholarship.counselor_opinion,
        scholarship.audit_opinion,
        scholarship.approve_status,
        scholarship.del_flag,
        scholarship.create_by,
        scholarship.create_time,
        scholarship.update_by,
        scholarship.update_time,
        sys_user.username,
        sys_user.real_name
        FROM
        scholarship_approve,
        scholarship,
        sys_user
        WHERE sys_user.id=scholarship.user_id and scholarship.id=scholarship_approve.scholarship_id and scholarship.user_id in
        <foreach collection="userIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        and scholarship.del_flag=0
    </select>
</mapper>
